# Database Configuration
DATABASE_URL="mysql://root:password@localhost:3306/lims_uniapp"

# Server Configuration
PORT=3000
NODE_ENV=development

# WeChat Configuration
APP_ID="your-wechat-app-id"
APP_SECRET="your-wechat-app-secret"

# JWT Configuration
JWT_SECRET="your-access-token-secret"
JWT_REFRESH_SECRET="your-refresh-token-secret"
